body{
    background-color: #18122B ;
    color: #eeedf4;
    font-family: 'Cinzel', serif;
}
.custom-container{
    display: flex;
    justify-content: space-between;
    margin: 100px;

}
.row{
   margin: 20px 100px;
}
.about-img{
    height: 200px;
}
.item{
    margin-top:150px;

}
h1{
    margin: 20px;
    text-align: center;
}

p{
    padding: 70px;
    margin: 20px;
    text-align: center;
}