body{
    background-color: #18122B ;
    color: #eeedf4;
    font-family: 'Cinzel', serif; 
}

.custom-container{
    background-color: #18122B ;
    display: flex;
    align-content: center;
    justify-content: center;
}

.cust-footer{
    position: fixed;
  
   
}
img{
border: none;
box-shadow: none;
    height: 20px;
}
.res-download{
    background-color:#eeedf4;
    padding: 3px;
    border-radius: 9px;
    box-shadow: 1px #44386c ;
    color: #18122B;
    text-decoration: none;
}