*{
    background-color:#18122B ;
    color: #cec4f1;  
}
.pimg{
    border-radius: 2px;
    height: 200px;
}
div.col.card.cust-card{
    background-color:#18122B ;
}


a {
    color: #cec4f1;
    text-decoration: none;
}